*{
  margin: 0;
  padding: 0;
}
 
 header {
  background-color: rgb(226, 15, 191);
  color: rgb(207, 141, 156);
  height: 150px;
}
header h1 {
  text-align: center;
  font-size: 50px;
}

div h1 {
  margin-top: 10px;
}

h1{
  margin-bottom: 20px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
