* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

header {
  background-color: #f8b400;
  color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ria 
header h1 {
  text-align: center;
  font-size: 50px;
}

h1 {  
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Exemplo com classe no css*/
.sobre-nos{
  width: 80%;
  text-align: center;
}

.paragrafo-texto{
  font-size: 20px;
  text-align: justify;
}

.itens-cardapio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.item-cardapio {
  display: flex;
}

.descricao {
  margin-bottom: 10px;
  font-size: 16px;
  color:rgb(8, 7, 7)
}

.img-item {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

h3 {
  margin-bottom: 10px;
  color: #f8b400;
  font-size: 18px;
}